/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-background-color: #383838;
}
.label{
    -fx-text-fill: #e8e8e8;
}

.table-view .column-header{
    -fx-background-color: #383838;
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
}
.check-box{
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
}
.text-field{
    -fx-text-fill: #e8e8e8;
    -fx-font-weight: bold;
    -fx-background-color: #808080;
    -fx-background-radius: 12;
}
.text-area{
    -fx-text-fill: white;
}
.content{
    -fx-background-color: #383838;
	-fx-border-color: #808080;
	-fx-border-insets: 1;
}

.choice-box, .button{
    -fx-background-color: #AB4642;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}
.choice-box{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
}
.context-menu{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
}
