/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
    -fx-background-color: #383838;
}
.label{
    -fx-text-fill: #f8f8f8;
}

.table-view .column-header{
    -fx-background-color: #585858;
    -fx-text-fill: #f8f8f8;
    -fx-font-weight: bold;
}
.table-row-cell:selected {
    -fx-background-color: #DC9656;
    -fx-text-fill: #FFFFFF;
}
.check-box{
    -fx-text-fill: #f8f8f8;
    -fx-font-weight: bold;
}
.text-field{
    -fx-text-fill: #f8f8f8;
    -fx-font-weight: bold;
    -fx-background-color: #A16946;
}
.text-area{
    -fx-text-fill: white;
}
.content{
    -fx-background-color: #383838;
	-fx-border-color: #A16946;
	-fx-border-insets: 1;
}

.button{
    -fx-background-color: #DC9656;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}
.choice-box{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
.choice-box{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
}
.context-menu{
    -fx-background-color: #AB4642;
    -fx-text-fill: #FFFFFF;
}
